<li class="newsstream__item">
  <div class="newsstream__thumb">
    <img src="{{imgPath}}" class="img-fluid" alt="Dummy Image">
  </div>
  <div class="newsstream__details">
    <h4 class="newsstream__title">{{mainTitle}}</h4>
    <p class="newsstream__author">{{authorName}}</p>
  </div>
</li>
