<header class="header">
  <div class="header__brand">
    <div class="header__hamburger"><span></span></div>
     <a href="#" title="Quintype" class="header__logo">Quintype</a>
  </div>
  <div class="search">
    <div class="search__group">
      <input class="search__input" type="text" placeholder="Search..."></div>
    <i class="icon icon-search"></i>
    </div>
</header>
