<div class="newsletter">
  <form class="form newsletter__form">
    <i class="icon icon--message"></i>
    <h5 class="newsletter__title">Subscribe to Newsletter</h5>
    <div class="form-group">
      <input type="email" class="form__control" id="exampleInputEmail1" placeholder="Your email">
    </div>
    <button type="submit" class="btn btn--outline-primary">Subscribe</button>
  </form>
</div>
