<footer class="footer">
  <div class="container">
    <div class="footer__logo d-sm-none">
       <img src="images/site-logo.svg" alt="Quintype">
    </div>
    <div class="footer__content">
      <ul class="footer__nav">
          <li class="footer__navitem"><a href="#" title="About Us">About Us</a></li>
          <li class="footer__navitem"><a href="#" title="Privacy Policy">Privacy Policy</a></li>
          <li class="footer__navitem"><a href="#" title="Terms & Conditions">Terms &amp; Conditions</a></li>
      </ul>
      <p class="footer__copyright">Copyright 2016 © <br> <strong>Powered by Quintype</strong></p>
    </div>
  </div>
</footer>
