<div class="news-card">
  <div class="container">
    <div class="news-card__content">
      <div class="news-card__thumb">
        <img src="images/news_card.jpg" class="img-fluid" alt="Lin-Manuel">
      </div>
      <div class="news-card__details">
        <h4 class="category category--md category--yellow"><span>SCIENCE</span></h4>
        <h3 class="news-card__title">Lin-Manuel Miranda says Donald Trump is spreading ‘a virulent strain of a virus’</h3>
        <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</p>
        <div class="news-card__author">
          <div class="news-card__avatar">
            <img src="images/author.jpg" class="img-fluid" alt="Lin-Manuel"/>
          </div>
          <div class="news-card__author-details">
            <p class="news-card__author-name">Alex Parkinson</p>
            <p class="news-card__post-time">Posted 15 min ago</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
