body {
  font-family: $base-font-family;
  color: $color-body;
  background: $color-bg-light;
  font-weight: $fw-regular;
  font-size: $fs-micro;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ul {
  margin: 0;
  padding: 0;
}
a,a:hover {
  text-decoration: none;
}
img {
  display: block;
}
