p {
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: $fw-regular;
  color: $color-title-dark;
}
h1 {
  font-size: $fs-giga;
}
h2 {
  font-size: $fs-mega;
}
h3 {
  font-size: $fs-xx-large;
}
h4 {
  font-size: $fs-milli;
}
h5 {
  font-size: $fs-large;
}
h6 {
  font-size: $fs-medium;
}
