<!DOCTYPE html>
<html>
  {{> head}}
  <body>
    {{> header/header}}
    {{> components/newscard/newscard}}
    <div class="container">
      <div class="row">
        <div class="col mb--lg-40 mb--sm-30">
          {{> components/widget/widget isThumb=true isCategory=true isContent=true imgpath="images/widget-1.jpg" categoryName="business" categoryStyle="category--coral" maintitle="Jenny Lawson Is preparing a new dish and It’s Sort of a Coloring Dish" content="Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled known printer took a galley of type and scrambled."
          authorname="Thomas Edison"
          }}
        </div>
        <div class="col mb--sm-30">
          <ul class="newsfeed">
             {{> components/newsfeed/newsfeed isCategory=true categoryStyle="category--blue" categoryName="travel" heading="Airtel Offers 3 GB Free Data A Month To Customers Who Switch To Its 4G Service" author="Alex Parkinson" }}
             {{> components/newsfeed/newsfeed isCategory=true categoryStyle="category--pink" categoryName="HEALTH & FITNESS" heading="Warning Letter For Ankleshwar Plant Sends Wockhardt Shares To Near 2.5-Year Low" author="Alice Doe" }}
             {{> components/newsfeed/newsfeed isCategory=true categoryStyle="category--yellow" categoryName="SCIENCE" heading="Sundar Pichai Launches ‘Digital Unlocked’ Programme " author="Jonnathan Doe"}}
          </ul>
        </div>
        <div class="col mb--lg-40 mb--sm-30 d-md-only-none">
          <div class="mb--30 d-sm-only-none">
            <a href="https://www.quintype.com/" target="_blank" title="Quintype">
              <img src="images/qt_ad.png" class="img-fluid" alt="Publish with quintype">
            </a>
          </div>
          {{> components/newsletter/newsletter}}
        </div>
      </div>
      <div class="mb--lg-40 mb--sm-30">
        {{> components/spotlight/spotlight}}
      </div>
      <h3 class="category category--blue category--lg"><span>Politics</span></h3>
      <div class="row row-3">
        <div class="col mb--lg-40 mb--sm-30">
          {{> components/newshighlight/newshighlight}}
        </div>
        <div class="col mb--sm-30">
          <div class="mb--20">
            {{> components/widget/widget isThumb=true imgpath="images/widget-3.jpg" maintitle="Jenny Lawson Is Publishing a New Book and It’s Sort of a Coloring Book" authorname="Jonnathan Doe"}}
          </div>
          <div>
            {{> components/widget/widget maintitle="Airtel Offers 3 GB Free Data A Month To Customers Who Switch To Its 4G Service" authorname="Alice Doe"}}
          </div>
        </div>
        <div class="col col-sm-50">
          <ul class="newsfeed newsfeed--horizontal">
             {{> components/newsfeed/newsfeed heading="Airtel Offers 3 GB Free Data A Month To Customers Who Switch To Its 4G Service" author="Alex Parkinson" }}
             {{> components/newsfeed/newsfeed heading="Warning Letter For Ankleshwar Plant Sends Wockhardt Shares To Near 2.5-Year Low" author="Alice Doe" }}
             {{> components/newsfeed/newsfeed heading="Sundar Pichai Launches ‘Digital Unlocked’ Programme ’ Programme " author="Jonnathan Doe"}}
             {{> components/newsfeed/newsfeed heading="Warning Letter For Ankleshwar Plant Sends Wockhardt Shares To Near 2.5-Year Low" author="Alice Doe"}}
          </ul>
          <div class="align-right">
            <a href="#" class="l-link">Read more <span>&rarr;</span></a>
          </div>
        </div>
      </div>
      <h3 class="category category--pink category--lg"><span>Food & Health</span></h3>
      <div class="row">
        <div class="col mb--lg-40 mb--sm-30">
          <ul class="newsstream">
            {{> components/newsstream/newsstream imgPath="images/news_stream-1.jpg" mainTitle="This Is What 300 Calories Look Like, Think Twice Before You Eat!" authorName="Jonnathan Doe"}}
            {{> components/newsstream/newsstream imgPath="images/news_stream-2.jpg" mainTitle="Lin-Manuel Miranda says Donald Trump is spreading ‘a virulent strain of a virus’" authorName="Alex Parkinson"}}
            {{> components/newsstream/newsstream imgPath="images/news_stream-3.jpg" mainTitle="Airtel Offers 3 food Data A Month To Customers Who Switch To Its food service" authorName="Matt Wilson"}}
          </ul>
        </div>
        <div class="col mb--sm-30">
            {{> components/widget/widget isThumb=true isContent=true imgpath="images/widget-2.jpg" widgetSize="widget--md" maintitle="Jenny Lawson Is preparing a new dish and It’s Sort of a Coloring Dish" content="Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled."
            authorname="Thomas Edison"
            }}
        </div>
      </div>
    </div>
    {{> components/stories/stories}}
    {{> footer/footer}}
  </body>
</html>
