<div class="stories">
  <div class="container">
    <h3 class="category category--blue category--lg"><span>Recent Stories</span></h3>
    <div class="stories__slider">
      <div>
        <ul class="stories__list">
          <li class="stories__item">
            <figure class="stories__thumb">
              <img src="images/recent_stories-1.jpg" class="img-fluid" alt="Recent Stories">
            </figure>
            <div class="stories__content">
              <h4 class="category category--blue"><span>Travel</span></h4>
              <h4 class="stories__posttitle">Jenny Lawson Is Publishing a New Book and It’s Sort of a Coloring Book</h4>
              <p class="stories__author">Alex Parkinson</p>
              <p class="stories__postdate">Alex Parkinson</p>
            </div>
          </li>
          <li class="stories__item">
            <figure class="stories__thumb">
              <img src="images/recent_stories-2.jpg" class="img-fluid" alt="Recent Stories">
            </figure>
            <div class="stories__content">
              <h4 class="category category--pink"><span>HEALTH & FITNESS</span></h4>
              <h4 class="stories__posttitle">Jenny Lawson Is Publishing a New Book and It’s Sort of a Coloring Book</h4>
              <p class="stories__author">Alex Parkinson</p>
              <p class="stories__postdate">Alex Parkinson</p>
            </div>
          </li>
          <li class="stories__item">
            <figure class="stories__thumb">
              <img src="images/recent_stories-3.jpg" class="img-fluid" alt="Recent Stories">
            </figure>
            <div class="stories__content">
              <h4 class="category category--pink"><span>HEALTH & FITNESS</span></h4>
              <h4 class="stories__posttitle">Jenny Lawson Is Publishing a New Book and It’s Sort of a Coloring Book</h4>
              <p class="stories__author">Alex Parkinson</p>
              <p class="stories__postdate">Alex Parkinson</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
