<div class="newshighlight">
  <figure class="newshighlight__content">
    <img src="images/donald_trump.jpg" class="img-fluid" alt="Donald Trump">
    <figcaption class="newshighlight__desc">
      <h3 class="newshighlight__title">Lin-Manuel Miranda says Donald Trump is spreading ‘a virulent strain of a virus’</h3>
      <p class="newshighlight__author">Jonnathan Doe</p>
    </figcaption>
  </figure>
</div>
