/*** General applicable properties ***/
.d-none {
  display: none;
}
.d-sm-none {
  @include scr-sm-max {
    display: none;
  }
}
.d-md-only-none {
  @include scr-tab {
    display: none;
  }
}
.d-sm-only-none {
  @include scr-sm-max {
    display: none;
  }
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.mb--sm-30 {
  @include scr-md-max {
    margin-bottom: 30px;
  }
}
.mb--30 {
  margin-bottom: 30px;
}
.mb--20 {
  margin-bottom: 20px;
}
.mb--lg-40 {
  @include scr-md-min {
    margin-bottom: 40px;
  }
}
strong {
  font-weight: $fw-bold;
}
.category {
  color: $color-black;
  font-weight: $fw-bold;
  display: block;
  font-size: 14px;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  @include scr-sm-min {
    font-size: 12px;
  }
  @include scr-md-min {
    margin-bottom: 12px;
  }
  span {
    display: inline-block;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      height: 3px;
      bottom: -5px;
      width: 100%;
      left: 0;
      background: #6093f2;
    }
  }
  &.category--md {
    font-size: 16px;
    margin-bottom: 6px;
    @include scr-sm-min {
      font-size: 12px;
    }
    @include scr-md-min {
      font-size: 18px;
      margin-bottom: 20px;
    }
  }
  &.category--lg {
    font-size: 28px;
    margin-bottom: 18px;
    text-transform: capitalize;
    @include scr-sm-min {
      font-size: 26px;
      margin-bottom: 22px;
    }
    @include scr-md-min {
      font-size: 34px;
      margin-bottom:30px;
    }
    span:after {
      height: 2px;
       @include scr-md-min {
          height: 4px;
       }
    }
  }
  &.category--pink span:after {
    background: $color-pink;
  }
  &.category--blue span:after {
    background: $color-blue;
  }
  &.category--yellow span:after {
    background: $color-yellow;
  }
  &.category--coral span:after {
    background: $color-coral;
  }
}
.l-link {
  font-size: 24px;
  color: $color-black;
  display: block;
  @include scr-sm-min {
    display: none;
  }
  span {
    vertical-align: middle;
  }
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
