/***Common icons***/
.icon {
  &:before {
    content: "";
    display: block;
  }
}
.icon-search {
  cursor: pointer;
  &:before {
    height: 30px;
    width: 30px;
    background: url("../../images/icons/icon_search.svg") no-repeat center center;
  }
}
