.slick-slider {
  .slick-arrow {
    position: absolute;
    top: 50%;
    transform: scale(.6) translateY(-50%);
    height: 70px;
    width: 70px;
    border: 0;
    font-size: 0;
    outline: none;
    background: url(../images/icons/icon_arrow-right.svg) no-repeat center center;
    @include scr-sm-min {
      transform: translateY(-50%);
    }
    &.slick-next {
      right: 20px;
    }
    &.slick-prev {
      left: 20px;
      transform: scale(.6) translateY(-50%) rotate(180deg);
      @include scr-sm-min {
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }
  .slick-dots {
    position: absolute;
    bottom: -28px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    li {
      position: relative;
      display: inline-block;
      width: 16px;
      height: 16px;
      margin: 0 5px;
      padding: 0;
      cursor: pointer;
      &.slick-active button {
        background: $color-primary-darker;
        opacity: 1;
      }
      button {
        display: block;
        width: 16px;
        height: 16px;
        padding: 5px;
        cursor: pointer;
        border: 0;
        outline: none;
        background: $color-primary;
        border-radius: 100%;
        font-size: 0;
      }
    }
  }
}
