  <li class="newsfeed__item">
    <h5 class="category {{categoryStyle}}"><span>{{categoryName}}</span></h5>
    <h3 class="newsfeed__title">{{heading}}</h3>
    <p class="newsfeed__author">{{author}}</p>
  </li>
